.addTripContainer {
    top: 20%;
    left: 5%;
    margin: auto;
    width: 90%;
    margin: auto;
    position: absolute;
    border:1px solid black;
    border-radius: 10px;
}

.createTripHeader {
    position: absolute;
    top: 12%;
    left: 5%;
}

.calendarDiv {
    display: inline-block;
    width: fit-content;
}