.mainDiv {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.5em;
  border-radius: 1em;
  padding: 5vh 5vh;
  width: 60vw;
  background-color: skyblue;
}

/* .bodyDiv {
  background-color:aliceblue;
  width: 100%;
  height: 100%;
} */

/* .body {
  background-color:aliceblue;
} */

/* .welcome {
  font-size: 3em;
} */