.tripMemoryContainer {
    top: 20%;
    left: 5%;
    margin: auto;
    width: 90%;
    margin: auto;
    position: absolute;
    border:1px solid black;
    border-radius: 10px;
}

.tripMemoryHeader {
    position: absolute;
    top: 12%;
    left: 5%;
}

.calendarDiv {
    display: inline-block;
    width: fit-content;
}

.photoButtons {
    display: flex;
    flex-direction: row;
    align-items: center; /* optional: align items in center vertically */
  }