.tripSummaryContainer {
    top: 20%;
    left: 5%;
    width: 90%;
    margin: auto;
    position: absolute;
}

.tripSummaryHeader {
    position: absolute;
    top: 12%;
    left: 5%;
}

.tripSummaryPaging {
    text-align: center;
}
