.photoButtons {
  text-align: center;
  margin-bottom: 0.5em;
}

.plusIcon {
  font-size: x-large;
}

.cameraButtons {
  text-align: center;
}

.captureImage {
  margin-left: 1em;
}

.webcam {
  margin: 0 auto 0.5em auto;
}

.memoryDiv {
  margin: 2rem 0;
}

.mapContainer {
  width: 80vw;
  height: 50vw;
}